[user]
	name = Iuji Ujisato
	email = iuji.ujisato@gmail.com

# [includeIf "gitdir:~/workspace/tos/"]
#       path = ~/workspace/tos/.gitconfig
#   [user]
#     name = shimonami
#     email = shimonami.mod@gmail.com
[core]
	editor = vim
	excludesfile = /home/bruno/.gitignore_global
[alias]
	co = checkout
	st = status
	ctags = !.git/hooks/ctags
  change-commits = "!f() { VAR1=$1; VAR='$'$1; OLD=$2; NEW=$3; echo \"Are you sure for replace $VAR $OLD => $NEW ?(Y/N)\";read OK;if [ \"$OK\" = 'Y'  ] ; then shift 3; git filter-branch --env-filter \"if [ \\\"${VAR}\\\" = '$OLD'  ]; then export $VAR1='$NEW';echo 'to $NEW'; fi\" $@; fi; }; f "
[diff]
	tool = vimdiff
[merge]
	defaultToUpstream = true
	tool = vimdiff
[push]
	default = simple
[pull]
	rebase = true
[rerere]
	enabled = true
[branch]
	autosetuprebase = always
[init]
	templatedir = /home/iujisato/.git_template
[grep]
	patternType = perl
	lineNumber = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
